@using ToDoList.Models;
@using ToDoList.ViewModels;

@model DelCasesList

<ol id="doneList" class="list-group ui-sortable-handle">

    @{int i = 0;}
    @foreach (DoneCase c in ViewBag.DoneList)        
        {
            <li class="h4">
                <input type="checkbox" asp-for="@Model.delCL[i].Selected" />
                <span asp-for="@Model.delCL[i].Selected">@c.Case</span>               
                <input type="hidden" asp-for="@Model.delCL[i].Case" />
                @{ i++;}
            </li>
        }
</ol>
